/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'keep-react/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  color: #7c33f5;
  position: relative;
  transition: all 0.3s ease;
}

nav a.active::before {
  content: '';
  width: 100%;
  background-color: #7c33f5;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

nav a {
  transition: all 0.3s ease;
}

nav a:hover {
  color: #7c33f5;
  cursor: pointer;
}

nav a.active:hover {
  text-decoration: none;
}

.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 1.2rem;
  gap: 10px;
}

@media (max-width: 768px) {
  .pagination {
    font-size: 1rem;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .pagination {
    flex-wrap: wrap;
    font-size: 0.9rem;
    gap: 5px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .pagination li {
    padding: 5px;
  }
}

.dark .pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  background-color: #121b27;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  background-color: #e5e7eb;
}

.dark .pagination .page-num:hover {
  background-color: #4b5563;
  color: white;
}

.pagination .page-num:hover {
  background-color: #d1d5db;
}

.dark .pagination .active {
  background-color: #7c33f5;
}

.pagination .active {
  background-color: #7c33f5;
  color: white;
}

.dark nav a.active {
  color: #7c33f5;
}

.dark nav a.active::before {
  background-color: #7c33f5;
}

.dark nav a:hover {
  color: #7c33f5;
}

.dark .slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: white;
}

.dark .slick-dots li button::before {
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.493);
}

@layer components {
  .navBarLink {
    @apply before:w-0 hover:before:w-full before:bg-color-accent before:dark:bg-color-accent-d before:h-[2px] before:transition-all before:duration-300 before:absolute relative before:rounded-full before:bottom-[-2px] hover:text-color-accent hover:dark:text-color-accent-d transition-all duration-300 before:left-0 cursor-pointer capitalize;
  }

  .inputField {
    @apply py-3 dark:bg-color-primary-d font-medium px-4 border focus:outline-color-accent focus:dark:outline-color-accent-d border-gray-300 rounded-lg w-full;
  }

  .inputButton {
    @apply w-full py-3 px-4 bg-color-accent dark:bg-color-accent-d text-white border-none font-bold outline-none rounded-lg mt-3;
  }
}
